@font-face {
  src: url(fonts/Karla-VariableFont_wght.ttf);
  font-family: karla;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: karla;
}

h1 {
  background-image: url(https://images.unsplash.com/photo-1561929243-94e37bf913aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 3%;
  font-size: 5em;
}

h3 {
  font-size: 3em;
  margin-top: 1em;
  color: midnightblue
}

h2, button {
  padding: 1%;
  font-size: 2em;
  color: green;
}

button {
  cursor: pointer;
  padding: 0.5%;
  color: white;
  background-color: green;
  border-radius: 5em;
  border-color: black;
  margin: 1em;
}

button:hover {
  color: green;
  background-color: white;
}

button:active {
  font-size: 1.9em;
  margin-left: 1.175em;
  margin-right: 1.175em;
  margin-top: 1.09em;
  margin-bottom: 1.09em;
}

.dis {
  background-color: gray;
}

.dis:active {
  font-size: 2em;
}

.dis:hover {
  cursor: default;
  color: white;
  background-color: gray;
}

.ch, .v {
  width: 2em;
  margin: 0.25em;
}

.ch:active, .v:active {
  margin-left: 0.31em;
  margin-right: 0.31em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#select, #deselect, #show {
  padding-left: 2%;
  padding-right: 2%;
  margin: 0.25em;
}

#show {
  margin-top: 1em;
  width: 6.5em;
}

#select:active {
  margin-right: 0.5em;
}

#deselect:active {
  margin-left: 0.55em;
}

#select.dis:active, #deselect.dis:active {
  margin: 0.25em;
}

@media (min-width: 600px) and (max-width: 800px), (max-width: 400px) {
  #select:active {
    margin-right: 0.25em;
  }

  #deselect:active {
    margin-left: 0.25em;
  }
}

.selected {
  background-color: midnightblue;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3vw;
  padding-top: 0px;
  box-sizing: border-box;
}

#selection {
  grid-column-start: 1;
  grid-column-end: 2;
}

#generation {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
  
  #generation {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#verseBox, #ans {
  padding-top: 1em;
}

#prompt {
  display: inline-block;
  vertical-align: middle;
  width: 285px;
}

#answer {
  width: 350px;
}

@media (max-width: 375px) {
  #answer {
    width: 285px;
  }
}

#replay {
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  display: inline-block;
  width: 44px;
  vertical-align: middle;
}

#replay:active {
  font-size: 2em;
}

#rep {
  display: inline-block;
}

#set {
  display: flex;
  justify-content: flex-end;
  height: 3.5em;
}

#settings {
  transition: transform 0.3s;
  padding: 0%;
  margin: 0%;
  margin-right: 10px;
  background-color: white;
  color: midnightblue;
  border: none;
  font-size: 3em;
}

#settings.active {
  transform: rotate(90deg);
}

.mb {
  /*margin-top: 0px;*/
  margin: 1%;
  margin-bottom: 1em;
  width: 5.5em;
}

.mb:active {
  font-size: 2em;
  margin: 1%;
  margin-bottom: 1em;
}

.on {
  background-color: midnightblue;
}

/*bubbly button (here to bottom)*/
.bubbly-button{
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px green;
  padding: 0.5em;
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, midnightblue 20%, transparent 30%),
    radial-gradient(circle, midnightblue 20%, transparent 20%), 
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, midnightblue 15%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, midnightblue 20%, transparent 20%), 
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, midnightblue 15%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%),
    radial-gradient(circle, midnightblue 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken(midnightblue, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}